.message {
	background: #d9edf7;
	border: 1px solid #bce8f1;
	display: block;
	padding: 10px;
	text-align: justify;
	color: #3a87ad;
	border-radius: 5px;
	margin: 20px 0;
	&--success {
		background: #dff0d8;
		border: 1px solid #d6e9c6;
		color: #468847;
	}
	&--fail {
		background: #f2dede;
		border: 1px solid #eed3d7;
		color: #b94a48;
	}
}


@import "buttons";

@import "fields";
